.about {
    margin-bottom: 66px;
    color: #060606;
}

.about__container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.about__container:before,
.about__desc {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.about__container:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url(../../img/content/about-us/gates.png) center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.about__desc {
    background: url(../../img/content/about-us/mountains.png) center center / cover no-repeat;
    padding: 64px 82px;
    width: 785px;
    min-height: 455px;
    margin-top: 99px;
    position: relative;

}

.about__text {
    margin-bottom: 30px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.about__button {
    margin-top: auto;
}