.news {
    margin-bottom: 153px;
}

.news__list {
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    flex: 1;
    height: 394px;
    margin-right: 2%;
}

.news-column {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0
}

.news__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-column__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 27px;
    min-height: 140px;
}

.news-column__date {
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 14px;
}

.news-column__subtitle {
    font-size: 24px;
    font-weight: bold;
}