.reviews {
   background-color: #fff;
   color: #1A1B1E; 
}

.reviews__list {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 71px;
    padding-top: 100px;
}

.reviews__item {
    margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 28px;
    background-color: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
}

.review__userdata {
    padding-left: 22px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.review__user::after {
    content: url(../../img/content/reviews/vk-blue.png);
    height: 30px;
    padding-left: 7px;
}

.review__marks {
    display: flex;
    align-items: flex-start;

}

.review__content {
    padding-top: 27px;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 13px;
}

.review__text {
    color: #818181;
    margin-bottom: 47px;
}

.review__date {
    font-size: 14px;
    font-weight: bold;
    color: #1A1B1E;

}