.top-services {
    min-height: 412px;
    background: #01131d url(../img/bg/headline.png) left 50% bottom 0 no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.top-services__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 1141px;
}
